<div class="col-4" style="margin-top: 25px;">
    <form class="row g-3" action="/search" method="POST">
        <div class="col-auto">
          <input type="text" class="form-control" name="search" placeholder="search movies">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary mb-3"> Search </button>
        </div>
      </form>
    <ul class="list-group">
        <li class="list-group-item" style="text-align: center;"> <h4>Movie Gernes</h4> </li>
        <li class="list-group-item"> <a href="/moviesGerne/Action" style="text-decoration: none;color: black;"><h6>Action</h6></a> </li>
        <li class="list-group-item"> <a href="/moviesGerne/Comedy" style="text-decoration: none;color: black;"><h6>Comedy</h6></a> </li>
        <li class="list-group-item"> <a href="/moviesGerne/Drama" style="text-decoration: none;color: black;"><h6>Drama</h6></a> </li>
        <li class="list-group-item"> <a href="/moviesGerne/Documentary" style="text-decoration: none;color: black;"><h6>Documentary</h6></a> </li>
        <li class="list-group-item"> <a href="/moviesGerne/Horror" style="text-decoration: none;color: black;"><h6>Horror</h6></a> </li>
        <li class="list-group-item"> <a href="/moviesGerne/Thriller" style="text-decoration: none;color: black;"><h6>Thriller</h6></a> </li>
        <li class="list-group-item"> <a href="/moviesGerne/Other" style="text-decoration: none;color: black;"><h6>Other</h6></a> </li>
    </ul>
</div>