doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
      h1
      | hello
      p create new one
       span     
        a(href='/') add
      each key in user
        ul
          li=key.firstname  
            span    
            a(href='/delete/'+key._id) delete
            span    
            a(href='/edit/'+key.id) edit
          li=key.lastname
          li=key.email
