doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
  body
    form(action='/', method='POST')
        input(type='hidden', name='_id', value=id)
        input(type='text', name='firstname', placeholder='firstname' required , value=firstname)
        br
        br
        input(type='text', name='lastname', placeholder='lastname' required , value=lastname)
        br
        br
        input(type='email', name='email', placeholder='email' required , value=email)
        br
        br
        button(type='submit') submit
        span     
        a(href='about' type='button') list
        br
        br